/* this is a class  */
.text-center {
    text-align: center;
  }
  .bg-skyblue{
    background: skyblue;
  }
  .mx-auto
  {
    margin: auto;
  }
  .flex{
    display:flex;
     
  }
  .flex-col{
    flex-direction: column;
  }
  .items-center{
    align-items: center;
    flex-shrink
  }